USE [master]
GO
/****** Object:  Database [VideojetAPP]    Script Date: 17-12-2024 14:07:11 ******/
CREATE DATABASE [VideojetAPP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideojetAPP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VideojetAPP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideojetAPP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VideojetAPP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideojetAPP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideojetAPP]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 17-12-2024 14:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 17-12-2024 14:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PName] [varchar](100) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Port] [int] NOT NULL,
	[FPath] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ChangeUserPassword]    Script Date: 17-12-2024 14:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangeUserPassword]
    @Username NVARCHAR(50),
    @CurrentPassword NVARCHAR(50),
    @NewPassword NVARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username AND Password = @CurrentPassword)
    BEGIN
        UPDATE Users
        SET Password = @NewPassword
        WHERE Username = @Username;
        
        RETURN 1; -- Success
    END
    ELSE
    BEGIN
        RETURN 0; -- Failure
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Checklogin]    Script Date: 17-12-2024 14:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Checklogin]
 @UserName VARCHAR(45),
 @Password VARCHAR(45)
AS
BEGIN
    -- Select the role for the given username and password
    SELECT Role
    FROM Login
    WHERE Username = @Username AND Password = @Password;
END;
GO
/****** Object:  StoredProcedure [dbo].[Checklogins]    Script Date: 17-12-2024 14:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Checklogins]
 @UserName VARCHAR(45),
 @Password VARCHAR(45)
AS
BEGIN
    -- Select the role for the given username and password
    SELECT Role
    FROM LoginDetails
    WHERE Username = @Username AND Password = @Password;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllLoginDetails]    Script Date: 17-12-2024 14:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllLoginDetails]
AS
BEGIN
    SELECT * FROM LoginDetails;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllValues]    Script Date: 17-12-2024 14:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllValues]
AS
BEGIN
   
    SELECT * 
    FROM Settings;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertIntoSettings]    Script Date: 17-12-2024 14:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertIntoSettings]
    @PName NVARCHAR(100),
    @IP NVARCHAR(50),
    @Port INT,
    @FPath NVARCHAR(100)
AS
BEGIN

    INSERT INTO Settings (PName, IP, Port, FPath)
    VALUES (@PName, @IP, @Port, @FPath);
    
END;
GO
/****** Object:  StoredProcedure [dbo].[SaveSetting]    Script Date: 17-12-2024 14:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveSetting]
    @Id INT = NULL,             -- Optional, used for updating existing records
    @Pname VARCHAR(100),
    @IP VARCHAR(50),
    @Port VARCHAR(25),
    @Fpath VARCHAR(100)
AS
BEGIN
    -- If Id is NULL, we are inserting a new record
    IF @Id IS NULL
    BEGIN
        INSERT INTO Settings (Pname, IP, Port, Fpath)
        VALUES (@Pname, @IP, @Port, @Fpath);
    END
    -- If Id is not NULL, we are updating an existing record
    ELSE
    BEGIN
        UPDATE Settings
        SET Pname = @Pname,
            IP = @IP,
            Port = @Port,
            Fpath = @Fpath
        WHERE Id = @Id;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateSettings]    Script Date: 17-12-2024 14:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSettings]
    @Id INT,              
    @PName NVARCHAR(100), 
    @IP NVARCHAR(50),     
    @Port INT,          
    @FPath NVARCHAR(100) 
AS
BEGIN
    UPDATE Settings
    SET 
        PName = @PName,
        IP = @IP,
        Port = @Port,
        FPath = @FPath
    WHERE Id = @Id;

END;
GO
USE [master]
GO
